services:
  api:
    build:
      context: ..
      dockerfile: docker/api/Dockerfile
    ports:
      - "8080:8000"
  bot:
    build:
      context: ..
      dockerfile: docker/bot/Dockerfile
    environment:
      TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN:?Telegram bot token must be set}
      OPENAI_API_KEY: ${OPENAI_API_KEY:?OpenAI token must be set}
